<div class="nav">
  <div class="ui secondary pointing menu">
    <a class="logo montserrat bold item" href="//hackmit.org">
      <img class="hacksquare" src="../assets/img/hack-logo-black.png"> HACKMIT
    </a>
    {{#each context.items}}
    <a class="item {{addIfEq this.href ../context.selectedDirectory 'active'}}" href="../{{this.href}}">
      <i class="{{this.iconClass}} icon"></i>
      {{this.displayName}}
    </a>
    {{/each}}
  </div>
</div>