<meta charset="UTF-8">
<title>Blueprint Day Of Info</title>
<link rel="icon"
      type="image/png"
      href="{{context.applicationDirectory}}assets/img/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Roboto|Rokkitt" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href="{{context.applicationDirectory}}assets/css/main.css" rel="stylesheet" type="text/css">
