<!DOCTYPE html>
<html>
<head lang="en">
  {{> shared_header context=headerContext}}

  {{> semantics_ui context=semanticsContext}}

  {{> meta_fb}}

  {{> meta_tw}}

  {{> ga context=gaContext }}

  {{> meta_viewport}}
  
  <script src="../assets/js/base.js"></script>
</head>

<body>

{{> pageDimmer }}


{{> nav context=navContext }}


{{> banner context=bannerContext }}

<div id="maps" class="main message-center">
  <div style="text-align: center;">
    <p>
    <h3>
      Below are a couple of maps you may find useful. whereis.mit.edu provides an interactive map of MIT's campus.
    </h3>
    </p>
    <p>
    <h3>
      For shuttle schedules, download the MIT Mobile App from the App Store or Google Play Store.
    </h3>
    </p>
    <a class="ui basic labeled icon button" href="//whereis.mit.edu">
      whereis.mit.edu
      <i class="map icon"></i>
    </a>
    <a class="ui basic labeled icon button" href="//ist.mit.edu/mit-mobile/android-ios">
      MIT Mobile App
      <i class="tablet icon"></i>
    </a>
  </div>

  <br>
  <br>

  <div class="ui stackable two column page grid">
    <div class="column">
      <div class="ui header">
        Map of HackMIT
      </div>
      <img src="../assets/img/map.png" /><br /><br />
      <img src="../assets/img/map2.png" />
    </div>
    <div class="column">
      <div class="ui header">
        Map of Kendall/MIT T Stop
      </div>
      <img src="../assets/img/mitmap.png" />
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>
</html>
