<!DOCTYPE html>
<html>
<head lang="en">
  {{> shared_header context=headerContext}}

  <!-- sponsor prizes logic -->
  <script src="../assets/js/sponsor_data.js"></script>
  <script src="../assets/js/sponsor_prizes.js"></script>

  {{> semantics_ui context=semanticsContext}}

  {{> meta_fb}}

  {{> meta_tw}}

  {{> ga context=gaContext }}

  {{> meta_viewport}}

  <script src="../assets/js/base.js"></script>
</head>

<body>

{{> pageDimmer }}


{{> nav context=navContext }}


{{> banner context=bannerContext }}

<div class="main width-limiter message-center">
  <div class="ui message">
    <p>
      Project submissions must be in by 5 PM, but you can continue hacking until the expo at 6 PM. At the expo, each team will present their projects for a few minutes at a time to small groups of judges in a science-fair format. After expo judging ends at 7 PM, the top teams will be chosen to demo onstage during our closing ceremony in front of all of Blueprint! 
    </p>
    <p>
      The rookie division is meant for people learning to build their first projects or attending their first hackathon this Blueprint. Otherwise, join the experienced division!
    </p>
  </div>
</div>

<div class="ui stackable page grid" id="prize-container">
  <!-- populated dynamically -->
</div>

</body>
</html>
